body {
  background: #252b2a;
  font-family: "Merriweather", serif;
}

a {
  color: #d1ebe6;
}

.weather-app {
  background: #ffffff;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #37373729;
  padding-bottom: 30px;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 15px;
  width: 80%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #aed6cfa0;
  color: white;
  border: none;
  padding: 15px;
  line-height: 1;
  border-radius: 5px;
}

main {
  display: block;
  padding: 30px 0;
}

.current-temperature {
  font-size: 48px;
  color: #373737;
}

.current-weather {
  display: flex;
  justify-content: space-around;
}

.current-city {
  font-size: 50px;
  font-weight: 900;
  color: #373737;
  margin: 0;
}
.current-details {
  color: #373737;
  font-family: "Monserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #24314b;
}

.current-temperature-icon {
  position: relative;
  top: -14px;
  font-size: 40px;
  margin-right: 10px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}

footer {
  font-size: xx-small;
  border-top: 1px solid #fafdd662;
  text-align: center;
  padding-top: 15px;
  color: #474747;
}

.developer-name {
  font-weight: bold;
  color: #6ca48d;
}
